* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

header,
footer {
  background-color: #333333;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
  height: 30%;
}

.main-body {
  display: grid;
  height: 40%;
}

main {
  background-color: #cccccc;
  grid-column: 1/4;
}
aside {
  grid-column: 4/5;
}

footer {
  height: 30%;
}
