* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #174e70;
  color: #fff;
}
.reduced-menu {
  display: flex;
  justify-content: space-around;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
#navigation ul li {
  display: none;
}
#navigation.open ul li {
  display: block;
  text-align: center;
}
#navigation.open ul li a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
#navigation.open ul li a:hover {
  background-color: #000;
}
#menu {
  font-size: 2rem;
  text-decoration: none;
}
#menu::before {
  content: "≡";
  color: #fff;
}
#menu.open::before {
  content: "X";
}
.temple-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.temple-images p {
  text-align: center;
}
figure {
  background-color: #eeeeee;
  width: 80%;
}
figure img {
  width: 100%;
  height: auto;
}
figcaption {
  text-align: center;
}
footer {
  background-color: #174e70;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p {
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .temple-images {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
  }
}

@media only screen and (min-width: 950px) {
  .temple-images {
    grid-template-columns: repeat(3, auto);
  }
  #navigation ul {
    display: flex;
    gap: 20px;
  }
  #navigation ul li {
    display: block;
  }
  #navigation ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }
  #menu {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
}
